.kmlHotspots{
   position: absolute;
   overflow: hidden;
   pointer-events: none;
}

.kmlHotspot{
    position: absolute;
    cursor: pointer;
    display: block;
    pointer-events: visible !important;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    /*transition: all .25s ease-in-out;*/
}