@import 'reset-css/reset.css';

.kmlPlayer{
	overflow: hidden;
}

.kmlPlayer:fullscreen, .kmlPlayer.inFrame {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	max-width: 100% !important;
	max-height: 100% !important;
	margin: 0 !important;
	transform: none!important;
}